In [9]:
import os
import pandas as pd

Cargamos los dataset con el numero de personas detectadas en cada imagen

In [11]:
Real_Pedestrian=pd.read_csv('./Dataset/RealData/Detecciones_yolov3_CPU_pedestrians.csv') 
Real_Peoplewalk=pd.read_csv('./Dataset/RealData/Detecciones_yolov3_CPU_peoplewalk.csv')

Cargamos los datos de cada modelo

In [18]:
Coral_Pedestrian=pd.read_csv('./Dataset/ModelDetection/Detecciones_Coral_MobilNetV2_pedestrian.csv') 
Coral_Peoplewalk=pd.read_csv('./Dataset/ModelDetection/Detecciones_Coral_MobilNetV2_peoplewalk.csv')

In [20]:
NCS_MobilNet_Pedestrian=pd.read_csv('./Dataset/ModelDetection/Detecciones_NCS_MobilNetSSD_pedestrian.csv') 
NCS_MobilNet_Peoplewalk=pd.read_csv('./Dataset/ModelDetection/Detecciones_NCS_MobilNetSSD_peoplewalk.csv')

In [21]:
NCS_YoloTiny_Pedestrian=pd.read_csv('./Dataset/ModelDetection/Detecciones_NCS_Yolo-tiny_pedestrian.csv') 
NCS_YoloTiny_Peoplewalk=pd.read_csv('./Dataset/ModelDetection/Detecciones_NCS_Yolo-tiny_peoplewalk.csv')

In [41]:
def comp_real_and_model(realdata,modeldata):
    realdata["real_detection"]=realdata["Detections"]
    modeldata["model_detection"]=modeldata["Detections"]
    df1 = realdata.join(modeldata, lsuffix='Frame', rsuffix='Frame')
    return df1

In [43]:
a=comp_real_and_model(Real_Pedestrian,Coral_Pedestrian)
a.head()#.drop(columns=['Unnamed: 0Frame', 'FrameFrame'])

,Unnamed: 0Frame,FrameFrame,DetectionsFrame,Unnamed: 0Frame,FrameFrame,DetectionsFrame
0,0,1,13,0,1,0
1,1,2,13,1,2,1
2,2,3,13,2,3,1
3,3,4,13,3,4,2
4,4,5,13,4,5,2

In [38]:
a=comp_real_and_model(Real_Peoplewalk,Coral_Peoplewalk)
a.drop(columns=['Unnamed: 0Frame', 'FrameFrame'])

     DetectionsFrame  DetectionsFrame
0                  9                2
1                  9                2
2                  9                6
3                  9                7
4                  8                3
..               ...              ...
697                8                5
698                8                5
699                8                4
700                8                4
701                9                3

[702 rows x 2 columns]

In [44]:
Coral_Pedestrian.head()

   Unnamed: 0  Frame  Detections
0           0      1           0
1           1      2           1
2           2      3           1
3           3      4           2
4           4      5           2