In [9]:
import os
import pandas as pd

## Cargamos los dataset con el numero de personas detectadas en cada imagen

In [11]:
Real_Pedestrian=pd.read_csv('./Dataset/RealData/Detecciones_yolov3_CPU_pedestrians.csv') 
Real_Peoplewalk=pd.read_csv('./Dataset/RealData/Detecciones_yolov3_CPU_peoplewalk.csv')

## Cargamos los datos de cada modelo

In [18]:
Coral_Pedestrian=pd.read_csv('./Dataset/ModelDetection/Detecciones_Coral_MobilNetV2_pedestrian.csv') 
Coral_Peoplewalk=pd.read_csv('./Dataset/ModelDetection/Detecciones_Coral_MobilNetV2_peoplewalk.csv')

In [20]:
NCS_MobilNet_Pedestrian=pd.read_csv('./Dataset/ModelDetection/Detecciones_NCS_MobilNetSSD_pedestrian.csv') 
NCS_MobilNet_Peoplewalk=pd.read_csv('./Dataset/ModelDetection/Detecciones_NCS_MobilNetSSD_peoplewalk.csv')

In [21]:
NCS_YoloTiny_Pedestrian=pd.read_csv('./Dataset/ModelDetection/Detecciones_NCS_Yolo-tiny_pedestrian.csv') 
NCS_YoloTiny_Peoplewalk=pd.read_csv('./Dataset/ModelDetection/Detecciones_NCS_Yolo-tiny_peoplewalk.csv')

In [55]:
def comp_real_and_model(realdata,modeldata):
    realdata["real_detection"]=realdata["Detections"]
    modeldata["model_detection"]=modeldata["Detections"]
    df1 = realdata.join(modeldata, lsuffix='Frame', rsuffix='Frame').drop(columns=['Unnamed: 0Frame', 'DetectionsFrame'])
    df1['no-detectadas'] = df1['real_detection'] - df1['model_detection'] 
    return df1

## Coral Comparation

In [81]:
Coral_comparation_pedestrian=comp_real_and_model(Real_Pedestrian,Coral_Pedestrian)
Coral_comparation_peoplewalk=comp_real_and_model(Real_Peoplewalk,Coral_Peoplewalk)
Coral_comparation_pedestrian[["model_detection","no-detectadas"]].describe()

       model_detection  no-detectadas
count       531.000000     531.000000
mean          2.306968      16.581921
std           1.405491       2.331566
min           0.000000       7.000000
25%           1.000000      15.000000
50%           2.000000      17.000000
75%           3.000000      18.000000
max           6.000000      22.000000

In [82]:
Coral_comparation_peoplewalk[["model_detection","no-detectadas"]].describe()

       model_detection  no-detectadas
count       702.000000     702.000000
mean          2.252137       8.029915
std           1.592767       2.427368
min           0.000000       2.000000
25%           1.000000       6.000000
50%           2.000000       8.000000
75%           3.000000      10.000000
max           7.000000      14.000000

## MobilNet SSD NCS

In [76]:
NCS_MobilNet_comparation_pedestrian=comp_real_and_model(Real_Pedestrian,NCS_MobilNet_Pedestrian)
NCS_MobilNet_comparation_peoplewalk=comp_real_and_model(Real_Peoplewalk,NCS_MobilNet_Peoplewalk)
NCS_MobilNet_comparation_pedestrian[["model_detection","no-detectadas"]].describe()

       model_detection  no-detectadas
count       531.000000     531.000000
mean          0.687382      18.201507
std           0.786808       2.081109
min           0.000000      11.000000
25%           0.000000      17.000000
50%           1.000000      18.000000
75%           1.000000      19.000000
max           3.000000      23.000000

In [77]:
NCS_MobilNet_comparation_peoplewalk[["model_detection","no-detectadas"]].describe()

       model_detection  no-detectadas
count       702.000000     702.000000
mean          3.612536       6.669516
std           1.945260       1.901770
min           0.000000       1.000000
25%           2.000000       5.000000
50%           3.000000       7.000000
75%           5.000000       8.000000
max           8.000000      12.000000

## Yolo-Tiny NCS

In [78]:
NCS_YoloTiny_comparation_pedestrian=comp_real_and_model(Real_Pedestrian,NCS_YoloTiny_Pedestrian)
NCS_YoloTiny_comparation_peoplewalk=comp_real_and_model(Real_Peoplewalk,NCS_YoloTiny_Peoplewalk)
NCS_YoloTiny_comparation_pedestrian[["model_detection","no-detectadas"]].describe()

       model_detection  no-detectadas
count       531.000000     531.000000
mean          2.967985      15.920904
std           1.678081       2.353110
min           0.000000       8.000000
25%           2.000000      14.000000
50%           3.000000      16.000000
75%           4.000000      18.000000
max           8.000000      21.000000

In [79]:
NCS_YoloTiny_comparation_peoplewalk[["model_detection","no-detectadas"]].describe()

       model_detection  no-detectadas
count       702.000000     702.000000
mean          2.673789       7.608262
std           1.493828       1.946969
min           0.000000       3.000000
25%           1.000000       6.000000
50%           3.000000       8.000000
75%           4.000000       9.000000
max           7.000000      14.000000